# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Environment variables
.env

# Database/local data
*.db
*.sqlite
*.sqlite3

# Logs
*.log
logs/

# Node / Frontend
node_modules/
dist/
build/

# OS / Editors
.DS_Store
.vscode/
.idea/

# Docker
*.pid